.todo-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 60px;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
}

.todo-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.add-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.todo-item.completed {
  color: #888;
}

.todo-checkbox {
  margin-right: 10px;
}

.todo-text {
  flex: 1;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.todo-item.completed .todo-text {
  color: rgb(1, 84, 1);
  font-style: bold;
}
